################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Yais/.vs/Yais/v14/.suo
/Yais/bin/Debug
/Yais/obj/Debug
/Yais/packages
/Yias.UnitTest/bin/Debug
/Yias.UnitTest/obj/Debug
/Yais.UnitTest/bin/Debug
/Yais.UnitTest/obj/Debug
/Yais.UnitTest/TestData/TestPage.html
